# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# ZHIPU_API_KEY: For Zhipu AI Integration API
ZHIPU_API_KEY=""

# MONGODB_URI: Full connection string for MongoDB Atlas or local
MONGODB_URI="mongodb://localhost:27017/edai"

# JWT_SECRET: Secret for signing JWT Auth Tokens
JWT_SECRET="super_secret_jwt_key_123"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# RESEND_API_KEY: For triggering transactional emails in the backend
RESEND_API_KEY=""
